pandas
scikit-learn
xgboost
kafka-python        
aiokafka            
fastapi             
uvicorn             
mlflow              
prefect             
evidently>=0.4.30    
redis               
boto3               
s3fs                
psycopg2-binary     
